/* Colors */
:root {
    //Primary background
    --color-main-orange: #FA7453;
    --color-main-euca: #66E2DC;
    --color-main-yellow: #FFB964;

    //Primary Font
    --color-dark-main: #191826;
    --color-main-white: #FCFAF9;

    --color-white: hsla(360, 100%, 100%, 1);
  }